{% extends '/index.html' %}
{% block body %}
    <div style="margin-top: 20dvh; margin-left: 20dvh; margin-right: 20dvh; margin-bottom: 50dvh;" id="pago" value="pago" class="form-body">
        <div class="row">
            {% block div %}
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Bienvenido</h3>
                        <p>Verifiquemos si el empleado es apto para el credito hipotecario. NOTA:Si Presionas en comprobar y no te envia al formulariuo de prestamo no cumples los requisitos de edad y salario.
                            
                        </p>
                        <form class="requires-validation" novalidate>
                            <div class="col-md-12">
                                <input id="edad"
                                    class="form-control"
                                    type="number"
                                    name="edad"
                                    placeholder="edad del empleado"
                                    required
                                >
                                <div class="valid-feedback">edad es valido!</div>
                                <div class="invalid-feedback">Campo edad no es valido!</div>
                            </div>
                            <div class="col-md-12">
                                <input id="Salario_mensual"
                                    class="form-control"
                                    type="number"
                                    name="Salario mensual"
                                    placeholder="Salario mensual del empleado"
                                    required
                                >
                                <div class="valid-feedback">El Salario mensual es valido!</div>
                                <div class="invalid-feedback">El campo no puede estar vacio!</div>
                            </div>
                            <div class="form-button mt-3"> 
                                <a onclick="validarcredito()" id="verificar" zid="submit" type="submit" class="btn btn-primary form-button">COMPROBAR</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}