{% extends '/index.html' %}
{% block body %}
<div class="central">
  <div style="margin: 250px;" id="tablo" class="tabla">
    <table id="tabla-historial">
      <thead>
        <tr>
          <th>IDRegistro</th>
          <th>FechaPago</th>
          <th>TipoPago</th>
          <th>MontoPago</th>
          <th>Identificacion empleado</th>
          <th>Acciones</th> <!-- Agrega una columna para los botones -->
        </tr>
      </thead>
    </table>
  </div>
</div>
<div id="modal1" class="modalmask modal-dialog-centered">
  <div class="modalbox movedown  ">
      <a href="#close" title="Close" class="close">X</a>
      <h2>Ingrese los datos que quiere editar</h2>
      <label for=""></label>
      <Input></Input>
      <Input></Input>
      <Input></Input>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}