<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <p>hola mundo</p>
    </body><script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
const apiUrl= 'test.api.amadeus.com'
const apikey= 'IpSLUfxOAdD0sdN6jWwVHQvm1CLjuMYx'
const config = {
headers: {
'Authorization': `Bearer ${apikey}`}
}
axios.get(apiUrl, config)
    .then(response => {
        console.log('datos', response.data);
})
.catch(error => {
    console.error('error:', error)
});
    
</script>

</html>